/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
*.map
.idea
*.log
*.iml
.repl
out/
resources/public/js/compiled
resources/public/js/js
resources/public/js/out
resources/public/js/example.js
resources/public/js/prod
figwheel_server_log.txt
figwheel_server.log
node_modules
server_out
target
/target
/lib
/classes
/checkouts
/out
*.log
